.input-text {
    background-color: transparent;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    font-weight: bold;
    height: 100%;
    line-height: 0;
    outline: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}